.detailBut{
     width: 250px;
     height: 30px;


     border-radius: 5px;


 }
.detailBut:hover{
    width: 250px;
    height: 30px;
    color: #fff503;
    background-color: #513152;
    border-radius: 5px;


}