.profile-div{
    text-align: center;


}
.collect-div{

    margin-left: 10px;
    text-align: left;
    border-radius: 10px;
    padding: 1%;


}

.photo-box{
    background-color: #65ffd4;
    padding: 10px;
    border-radius: 5%;
    border-width: 2px;
    height: 100%;
    text-align: center;

}